<section class='fullwidth'>
    <h4>Events for day {{day}} in {{year}}</h4>
    <ol>
        {{#each calendarEvents}}
                <li>Event: {{title}} {{start}} - {{end}}</li>
        {{/each}}
    </ol>
</section>
