<section class='fullwidth'>
    <h4>Events for {{year}}</h4>
    <ol>
        {{#each calendarEvents}}
                <li>Event: #{{id}} {{title}} {{start}} - {{end}}</li>
        {{/each}}
    </ol>
</section>
