<h1>Objective: {{id}}</h1>

<p>{{title}}</p>

{{#if isEditing}}
  {{partial 'objective/edit'}}
  <button {{action 'doneEditing'}}>Done</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}
