{#
/**
 * @file
 * Default template web index.html file
 *
 * Available variables:
 * - $base_url: The Ilios base URL.
 * - $metas:    Array of meta tags to create
 * - $links:    Array of link tags to create
 * - $scripts:  Array of script tags to create
 * - $styles:  Array of style tags to create
 * - $noScripts:  Array of noscript tags to create
 * - $divs:  Array of divs to create
 */
#}

<!DOCTYPE html>
<html>
<head>
    {% for m in metas %}
        <meta {% if m.httpequiv %} http-equiv="{{ m.httpequiv }}" {% endif %} {% if m.charset %} charset="{{ m.charset }}" {% endif %} {% if m.name %} name="{{ m.name }}" {% endif %} {% if m.content %} content="{{ m.content }}" {% endif %} />
    {% endfor %}
    <meta name='iliosconfig-api-name-space'content='api/v1'>
    <meta name='iliosconfig-api-host'content=''>
    <title>Ilios</title>

    {% for s in styles %}
        <style type="{{ s.type }}">
            {% autoescape false %}
            {{ s.content }}
            {% endautoescape %}
        </style>
    {% endfor %}

    {% for l in links %}
        {% if l.preload %}
            <link rel="{{ l.rel }}" href="{{ preload(asset(l.href), { as: 'style' }) }}" type="{{  l.type }}" sizes="{{  l.sizes }}"  />
        {% else %}
            <link rel="{{ l.rel }}" href="{{ l.href }}" type="{{  l.type }}" sizes="{{  l.sizes }}"  />
        {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{ preload(asset('theme-overrides/custom.css'), { as: 'style'}) }}" />
</head>
<body>

{% for n in noScripts %}
    <noscript>
        {% autoescape false %}
        {{ n.htmlContent }}
        {% endautoescape %}
    </noscript>
{% endfor %}

{% for d in divs %}
    <div id="{{ d.id }}" class="{{ d.class }}">
        {% autoescape false %}
        {{ d.htmlContent }}
        {% endautoescape %}
    </div>
{% endfor %}


{% for s in scripts %}
    {% if s.src %}
        <script src="{{ preload(asset(s.src), { as: 'script' }) }}"></script>
    {% else %}
        <script>
            {% autoescape false %}
                {{ s.content }}
            {% endautoescape %}
        </script>
    {% endif %}
{% endfor %}

</body>
</html>
