<h1>
    {{learnerGroup.id}}:
    {{learnerGroup.title}}
</h1>
<h5>Users</h5>
<ul>
    {% for userId in learnerGroup.users %}
    <li>
        <a href="{{ path('get_user', {'id': userId, '_format': 'html'}) }}">
            {{ userId }}
        </a>
    </li>
    {% endfor %}
</ul>

<h5>Offerings</h5>
<ul>
    {% for offeringId in learnerGroup.offerings %}
    <li>
        <a href="{{ path('get_offering', {'id': offeringId, '_format': 'html'}) }}">
            {{ offeringId }}
        </a>
    </li>
    {% endfor %}
</ul>
