<h1>
    {{session.id}}:
    {{session.title}}
</h1>
<a href="{{ path('get_course', {'id': session.course, '_format': 'html'}) }}">
    Course: {{session.course}}
</a>
<h5>Offerings</h5>
<ul>
    {% for offeringId in session.offerings %}
    <li>
        <a href="{{ path('get_offering', {'id': offeringId, '_format': 'html'}) }}">
            {{ offeringId }}
        </a>
    </li>
    {% endfor %}
</ul>

<h5>Users</h5>
<ul>
    {% for userId in session.users %}
    <li>
        <a href="{{ path('get_user', {'id': userId, '_format': 'html'}) }}">
            {{ userId }}
        </a>
    </li>
    {% endfor %}
</ul>
