<h1>
    {{offering.id}}
</h1>
<a href="{{ path('get_session', {'id': offering.session, '_format': 'html'}) }}">
    Session: {{offering.session}}
</a>
<h5>Groups</h5>
<ul>
    {% for groupId in offering.groups %}
    <li>
        <a href="{{ path('get_group', {'id': groupId, '_format': 'html'}) }}">
            {{ groupId }}
        </a>
    </li>
    {% endfor %}
</ul>

<h5>Users</h5>
<ul>
    {% for userId in offering.users %}
    <li>
        <a href="{{ path('get_user', {'id': userId, '_format': 'html'}) }}">
            {{ userId }}
        </a>
    </li>
    {% endfor %}
</ul>
