<h1>
    {{user.id}}:
    {{user.firstName}} {{user.lastName}}
</h1>
<h5>Groups</h5>
<ul>
    {% for groupId in user.learnerGroups %}
    <li>
        <a href="{{ path('get_learnergroup', {'id': groupId, '_format': 'html'}) }}">
            {{ groupId }}
        </a>
    </li>
    {% endfor %}
</ul>
